.news {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
    background-color: #fff;
    padding: 10px;
	margin-bottom: 1em;
	border-radius: 25px;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	&__user-details {
		display: flex;
		align-items: center;
		&-avatar {
			height: 50px;
			width: 50px;
			border-radius: 12px;
		}
		&-name {
			margin-left: 1em;
			text-decoration: none;
		}
	}

	&__tags {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-tag {
			margin: 0 0.5em;
			padding: 0.2em 0.5em;
			background-color: tomato;
			border-radius: 25px;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1em;
		}
	}

	&__publication-date {
		margin-right: 1em;
	}
}

.news-body {
    &__text {
        margin: 1em 0;
    }
}

.btns {
	position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
	bottom: 0;
	// right: 0;
	// margin: 5px;

    &-btn {
        padding: .2em .5em;
		font-size: 2rem;
		border: none;
		background: none;
    }
}