@use "../../../colors" as *;

.tooltip {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    padding: 1em;
    font-size: 1.6rem;
	transform: translateX(-50%);
	transition: opacity .3s ease;
    opacity: 0;
    background-color: $bg-color;
    color: $color-text;
    pointer-events: none;
    border-radius: 8px;
}