@use "../../colors" as *;

.book-page {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, auto);
	gap: 1em;

	width: 100%;

	margin-top: 60px;

	&__banner {
		grid-column: 1/4;
		grid-row: 1/2;
	}

	&__description {
		grid-column: 4/6;
		grid-row: 1/2;
	}

	&__tags {
		grid-column: 1/2;
		grid-row: 2/4;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 1em;

		padding: 0.5em;
		background-color: $primary-color;
		border-radius: 8px;
		height: 100%;
	}

	&__media {
		grid-column: 1/2;
		grid-row: 4/6;
	}

	&__status-distribution {
		grid-column: 2/6;
		grid-row: 2/3;
	}

	&__score-distribution {
		grid-column: 2/6;
		grid-row: 3/5;
	}

	&__rating-over-time {
		grid-column: 2/6;
		grid-row: 5/7;
	}
}

// .content-box {
// 	width: 100%;
// 	display: flex;
// 	flex-direction: column;

// 	&__nav {
// 		display: flex;
// 		justify-content: space-evenly;
// 		width: 100%;
// 		padding: 0.2em 1em;
// 		margin-top: 1em;
// 		margin-bottom: 1em;

// 		&-btn {
// 			padding: 0.5em 1em;
// 			background: none;
// 			border: none;
// 			font-size: 2rem;
// 			color: $color-text;

// 			&:hover {
// 				color: $color-text-light;
// 			}
// 		}
// 	}

// 	&__details {
// 		display: flex;
// 	}
// }

// .active {
// 	color: $color-text-white;
// }
