@use "../../colors" as *;

.book-page {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(10, auto);
	gap: 2em;

	width: 100%;

	margin-top: 60px;

	&__banner {
		grid-column: 1/4;
		grid-row: 1/2;
	}

	&__description {
		grid-column: 4/6;
		grid-row: 1/2;
	}

	&__info {
		grid-column: 1/2;
		grid-row: 2/9;
		gap: 2em;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;

		&-details {
			width: 100%;

			padding: 0.5em;

			background-color: $primary-color;
			border-radius: 8px;
		}

		&-tags {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			height: 300px;
			width: 100%;
			background-color: $primary-color;
			border-radius: 8px;
		}

		&-media {
			grid-column: 1/2;
			grid-row: 4/6;
		}
	}

	&__reviews {
		grid-column: 1/2;
		grid-row: 7/9;
		height: 100%;
		width: 100%;
	}

	&__status-distribution {
		grid-column: 2/6;
		grid-row: 3/4;
	}

	&__score-distribution {
		grid-column: 2/6;
		grid-row: 4/5;
	}

	&__rating-over-time {
		grid-column: 2/6;
		grid-row: 5/6;
	}

	&__readers-over-time {
		grid-column: 2/6;
		grid-row: 6/7;
	}

	&__highlighted {
		grid-column: 2/6;
		grid-row: 2/3;
		display: flex;
		justify-content: space-between;

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			width: 24%;
			height: 100px;

			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			border-radius: 8px;
		}

		&-header {
			font-size: 1.8rem;
			// color: $heartt-color;
		}

		&-position {
			color: $heart-color;
			color: $heartt-color;
			color: $gold-color;
			font-weight: bold;
		}

		&-year-score-ranking {
			background-image: url("../../assets/grafic/ranking-rating.png");
		}

		&-year-favorite-ranking {
			background-image: url("../../assets/grafic/ranking-favorite.jpg");
		}

		&-genre-score-ranking {
			background-image: url("../../assets/grafic/ranking-rating.png");
		}

		&-genre-favorite-ranking {
			background-image: url("../../assets/grafic/ranking-favorite.jpg");
		}
	}
}

.details-item {
	display: flex;
	flex-direction: column;
	justify-content: start;

	width: 100%;

	&__header {
		// margin-top: .5em;
		font-size: 1.2rem;
		color: $color-text;
	}

	&__content {
		color: $color-text-light;
	}
}
