@use "../../colors" as *;

.book-page {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, auto);
	gap: 2em;

	width: 100%;

	margin-top: 60px;

	&__banner {
		grid-column: 1/7;
		grid-row: 1/2;
	}

	&__description {
		grid-column: 7/11;
		grid-row: 1/2;
	}

	&__sidebar {
		grid-column: 1/4;
		grid-row: 2/3;
	}

	&__overview {
		grid-column: 4/11;
		grid-row: 2/3;
	}

	&__highlighted {
		&-item {
			display: flex;
			align-items: center;

			padding: 8px 12px;
			margin-bottom: 1em;

			border-radius: 8px;
			background-color: $primary-color;

			transition: color 0.3s;

			cursor: pointer;

			&:hover {
				.book-page__highlighted-content {
					color: $color-text;
				}
			}
		}

		&-content {
			width: 85%;
			font-size: 1.4rem;
			text-align: center;
			color: $color-text-light;
		}

		&-icon {
		}
	}

	&__tags {
		padding: 0.5em;
		text-align: center;
		background-color: $primary-color;
		border-radius: 8px;

		&-item {
			display: inline-block;

			padding: 0 12px;
			margin: 0 5px 5px 0;

			font-size: 1.4rem;
			text-align: center;

			background-color: #fff;
			border-radius: 10px;

			cursor: pointer;
		}
	}

	&__awards {
		&-item {
			display: block;

			padding: 8px 12px;
			margin-bottom: 1em;

			background-color: $primary-color;
			color: $color-text-light;

			border-radius: 8px;
			text-decoration: none;
			text-align: center;

			transition: color 0.3s;

			cursor: pointer;

			&:hover {
				color: $color-text;
			}
		}
	}

	&__reviews {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 1em;

		&-item {
			font-size: 1.3rem;
			color: $color-text;
			background-color: $primary-color;
			border-radius: 8px;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: $secondary-color;
			}
		}

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-evenly;

			height: 40px;
			width: 100%;

			padding: 0.5em;

			// font-size: 1.8rem;

			background-color: $secondary-color;
			border-radius: 8px;
		}

		&-icon {
			// height: 1.8rem;
			vertical-align: middle;
		}

		&-content {
			height: 70px;
			padding: 0.5em;
			text-align: center;
		}

		&-all {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.8rem;
		}
	}

	&__status-distribution {
	}

	&__score-distribution {
	}

	&__rating-over-time {
	}

	&__readers-over-time {
	}
}

.margin-bottom {
	margin-bottom: 2em;
}

.star-icon {
	color: $gold;
}

.heart-icon {
	color: $heart-color;
}
