$bg-color: rgb(11, 22, 34);
$primary-color: rgb(21, 31, 46);
// $bg-color: rgb(21, 31, 46);
// $primary-color: rgb(11, 22, 34);

$secondary-color: rgb(30, 42, 56);

$accent-primary: rgb(61, 180, 242); // Niebieski - główny akcent
$accent-secondary: rgb(255, 167, 38);
$accent-purple: rgb(149, 117, 205);
$accent-blue: rgb(64, 158, 255);

$heart-color: rgb(236, 41, 75);

$gold-color: rgb(247, 191, 99);
$gold: #ffd700;

$btn-color: #383e61;
$btn-active-color: #827ecf;

$color-text: rgb(159, 173, 189);
$color-text-light: rgb(114, 138, 161);
$color-text-lighter: rgb(133, 150, 165);
$color-text-white: #fff;

$color-status-current: rgb(104, 214, 57);
$color-status-planning: rgb(2, 169, 255);
$color-status-completed: rgb(146, 86, 243);
$color-status-paused: rgb(247, 121, 164);
$color-status-dropped: rgb(232, 93, 117);

$score-one-color: #ec5f3f;
$score-two-color: #ce6029;
$score-three-color: #ab5e08;
$score-four-color: #d29b2d;
$score-five-color: #d2b72d;
$score-six-color: #d2d22d;
$score-seven-color: #b7d22d;
$score-eight-color: #9bd22d;
$score-nine-color: #80d22d;
$score-ten-color: #64d22d;

$thumb-down: #e85d75;
$thumb-up: #7bd555;
