$bg-color: rgb(11, 22, 34);
$primary-color: rgb(21, 31, 46);
// $bg-color: rgb(21, 31, 46);
// $primary-color: rgb(11, 22, 34);

$secondary-color: rgb(30, 42, 56);

$accent-primary: rgb(61, 180, 242);   // Niebieski - główny akcent
$accent-secondary: rgb(255, 167, 38); 
$accent-purple: rgb(149, 117, 205);  

$heart-color: rgb(236, 41, 75);
$heartt-color: rgb(208, 71, 98);

$gold-color: rgb(247, 191, 99);


$btn-color: #383E61;
$btn-active-color: #827ECF;

$color-text: rgb(159, 173, 189);
$color-text-light: rgb(114, 138, 161);
$color-text-lighter: rgb(133, 150, 165);
$color-text-white: #fff;

$color-status-current: rgb(104, 214, 57);
$color-status-planning: rgb(2, 169, 255);
$color-status-completed: rgb(146, 86, 243);
$color-status-paused: rgb(247, 121, 164);
$color-status-dropped: rgb(232, 93, 117);

$score-one-color: #EC5F3F;
$score-two-color: #CE6029;
$score-three-color: #AB5E08;
$score-four-color: #D29B2D;
$score-five-color: #D2B72D;
$score-six-color: #D2D22D;
$score-seven-color: #B7D22D;
$score-eight-color: #9BD22D;
$score-nine-color: #80D22D;
$score-ten-color: #64D22D;