@use "colors" as *;
// @import "tailwindcss";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: column;
	font-size: 1.6rem;
	background-color: $bg-color;
	font-family: "Roboto", sans-serif;

	#root {
		width: 70%;
		display: flex;
		align-items: center;
		min-height: 100vh;
		flex-direction: column;
	}
}

.App {
	height: 100%;
	width: 100%;
}

.content-wrapper {
	width: 100%;
	padding: 1em;
	background-color: $primary-color;
	border-radius: 8px;
}

.content-header {
	color: $color-text;
}
.bgIcon {
	position: fixed;
	color: $secondary-color;
	z-index: -1;
}

.bookIcon {
	left: 9%;
	top: 12%;
	rotate: 43deg;
	scale: 5;
}

.bookFilledIcon {
	right: 5%;
	left: 91%;
	top: 63%;
	rotate: -25deg;
	scale: 3;
}

.booksIcon {
	top: 33%;
	left: 88%;
	scale: 5;
	// rotate: 35deg;
}

.bookSecondIcon {
	top: 75%;
	left: 6%;
	scale: 7;
	rotate: -45deg;
}

.mugIcon {
	left: 94%;
	top: 88%;
	scale: 4.8;
	rotate: 35deg;
}

.mugFilledIcon {
	top: 40%;
	left: 4%;
	scale: 5;
	rotate: -30deg;
}

.coffeeIcon {
	left: 93%;
	top: 13%;
	scale: 4.8;
	rotate: -15deg;
}
